@{
    ViewData["Title"] = "Inicio";
}

<h1>Bienvenido a Mokkilicores Express</h1>
<p>
    <a href="/Inventario">Gestionar Inventario</a> |
    <a href="/Cliente">Gestionar Clientes</a> |
    <a href="/Pedido">Gestionar Pedidos</a>
</p>