@model MokkilicoresExpress.Models.Cliente

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@modelError.ErrorMessage</li>
            }
        </ul>
    </div>
}

<h1>Editar Cliente</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="Identificacion">Identificacion</label>
        <input asp-for="Identificacion" class="form-control" readonly style="background-color: lightgrey;" required>
    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input asp-for="Nombre" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Apellido">Apellidos</label>
        <input asp-for="Apellido" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Provincia">Provincia</label>
        <input asp-for="Provincia" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Canton">Cantón</label>
        <input asp-for="Canton" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Distrito">Distrito</label>
        <input asp-for="Distrito" class="form-control" required>
    </div>
    <div class="form-group">
        <label hidden for="DineroCompradoTotal">Dinero Comprado Total</label>
        <input asp-for="DineroCompradoTotal" class="form-control" hidden>
    </div>
    <div class="form-group">
        <label hidden for="DineroCompradoUltimoAnio">Dinero Comprado Último Año</label>
        <input asp-for="DineroCompradoUltimoAnio" class="form-control" hidden>
    </div>
    <div class="form-group">
        <label hidden for="DineroCompradoUltimosSeisMeses">Dinero Comprado Últimos 6 Meses</label>
        <input asp-for="DineroCompradoUltimosSeisMeses" class="form-control" hidden>
    </div>
    <button type="submit" class="btn btn-success">Actualizar</button>
</form>
